docs/docs/
docs/site/
libs/build/
projects/
src/day2doy
src/doy2day
src/events
src/jsec2time
src/jurassic.o
src/libgps.o
src/map
src/perturbation
src/prof
src/response
src/time2jsec
src/tropo
src/variance
src/*.gcno
src/*.gcda
src/*.gcov
src/coverage*
tests/pert_test/data/
tests/tropo_test/data/
